
<div id="footer">
<footer class="text-center text-white mt-auto" style="background-color: rgb(14, 14, 14);">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
   
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg  m-1"
          href="#!"
          role="button"
          ><i class="fa fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg  m-1"
          href="#!"
          role="button"
          ><i class="fa fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg m-1"
          href="#!"
          role="button"
          ><i class="fa fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg m-1"
          href="#!"
          role="button"
          ><i class="fa fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-light p-3" style="background-color: rgb(14, 14, 14)">
      © 2020 Copyright:
      <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <div class="text-center text-light p-3" style="background-color: rgb(14, 14, 14)">
        
        <a class="text-light" style="text-decoration:none;" href="https://mdbootstrap.com/">Built by: OneTap</a>
      </div>
    <!-- Copyright -->
  </footer>

</div>