
{% extends 'base.html' %}
{% load static %}

{% block body %}


   
 
<!--MAIN SECTION-->
<section class="home" style="height:1000px; background-color:white; overflow:hidden;">

    <div class="row h-100 align-items-center">
        <div class="text-center">
          <h1 class="homeTitle font-weight-bold">Find anything, play everything.</h1>
          {% if request.user.is_authenticated %}
          <p class="homeContent lead"><a class="btn btnHome " href="{% url 'game-view' %}">PLAY NOW!</a></p>
          {% else %}
          <p class="homeContent lead"><a class="btn btnHome" href="{% url 'register-view' %}">JOIN NOW!</a></p>
          {% endif %}
        </div>
      </div>


</section>
<!--END MAIN-->


<!--CATEGORIES-->
<section class="pt-5 pb-5 categorias">
    <div class="container">
      {% for genre1, genre2 in genres %}
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-6   mt-4 mt-md-0 order-md-1 order-2">
               <a href="{{genre1.get_absolute_url}}"> <img alt="image" class="img-fluid" src="{{genre1.image.url}}"> </a>
            </div>
            <div class="col-12 col-md-4 order-1 order-md-2">
               <a href="{{genre1.get_absolute_url}}" > <h2 class="categoriaTitulo">{{genre1.name}}</h2> </a>
                <p class="text-h3 mt-3 categoriaContenido">{{genre1.desc}}</p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center pt-5 pb-5">
            <div class="col-12 col-md-4 offset-md-1  ">
               <a href="{{genre2.get_absolute_url}}" > <h2 class="categoriaTitulo">{{genre2.name}}</h2> </a>
                <p class="text-h3 mt-3 categoriaContenido">{{genre2.desc}}</p>

            </div>
            <div class="col-12 col-md-6   mt-4 mt-md-0">
               <a href="{{genre2.get_absolute_url}}" > <img alt="image" class="img-fluid" src="{{genre2.image.url}}"> </a>
            </div>
        </div>
      {% endfor %}

    </div>
</section>

<!--END CATEGORIES-->



<!--NEWEST-->

<section class="py-5 Latest" ><div class="container">
  <div class="row d-flex categorias justify-content-center">
    <div class="col-12">
      <h3 class="mb-2 text-center h2 categoriaTitulo">Latest Games</h3>
      <p class="mb-5 text-center">Take a look at the newest games of the moment!</p>
    </div>
    
   {% for game in recent %}
    <div class="col-sm-12 col-md-6 col-lg-4 justify-content-center" style="margin: 0 auto;">
    <a href="{{game.get_absolute_url}}">  
      <div class="card movie_card float-left latestCard">
        
        <a href="{{game.get_absolute_url}}">
          <img src="{{game.image.url}}" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{game.name}}</h5>
                 <span class="movie_info">{{game.created}}</span>
                 &nbsp;
                 <span>|</span>
                 &nbsp;
                 <span class="movie_info float-right"><i class="fa fa-gamepad"></i> &nbsp;<a class="text-danger"href="{{game.genre.get_absolute_url}}">{{game.genre}}</a></span>
        </div>
      </div>
    </a>
    </div>


    {% endfor %}
    </div>
    
</section>


<!---->




<!-- Jquery needed -->


<!-- Function used to shrink nav bar removing paddings and adding black background -->


{% endblock %}