.buttonDiv{
  background-color: black!important;
}

img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
img {
  pointer-events: none;
}
.movie_card{
  padding: 0 !important;
  width: 15rem;
  margin:14px; 
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20rem;
}
.movie_info{
  color: #5e5c5c;
}

.movie_info i{
  font-size: 20px;
}
.card-title{
  width: 80%;
  height: 4rem;
}
.play_button{
  background-color: rgb(255, 47, 47);
     position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 20px;
  bottom: 111px;
  font-size: 27px;
  padding-left: 21px;
  padding-top: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.genreContainer{
    margin-top: 120px;
    margin-bottom: 120px;
}

.headerGenre {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.headerGenre video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.headerGenre .container {
  position: relative;
  z-index: 2;
}

.headerGenre .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .headerGenre {
    background:  black no-repeat center center scroll;
  }
  .headerGenre video {
    display: none;
  }
}
 
.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background-color: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.row .genreDiv{
  background-color: red;
}

.dropdown .btn{
  background-color: #202020 !important;
  color:rgb(255, 47, 47) !important;
}

.button-adventure{
  background: rgb(55,47,47);
  background: radial-gradient(circle, rgba(55,47,47,1) 0%, rgba(255,0,0,1) 100%); 
  color: white!important;
}

.button-action{
  background: rgb(55,47,47);
  background: radial-gradient(circle, rgba(55,47,47,1) 0%, rgba(255,0,0,1) 100%); 
  color: white!important;
}

.button-sports{
  background: rgb(55,47,47);
  background: radial-gradient(circle, rgba(55,47,47,1) 0%, rgba(255,0,0,1) 100%); 
  color: white!important;
}

.button-strategy{
  background: rgb(55,47,47);
  background: radial-gradient(circle, rgba(55,47,47,1) 0%, rgba(255,0,0,1) 100%); 
  color: white!important;
}


.button-simulation{
  background: rgb(55,47,47);
  background: radial-gradient(circle, rgba(55,47,47,1) 0%, rgba(255,0,0,1) 100%); 
  color: white!important;
}

.button-racing{
  background: rgb(55,47,47);
  background: radial-gradient(circle, rgba(55,47,47,1) 0%, rgba(255,0,0,1) 100%); 
  color: white!important;
}





