
    .card-custom {
        max-width: 128px;
    }

    .home{
        background-image: url('../img/home.jpg');
        background-color: white;
        text-align: center;
        background-repeat:no-repeat;
        background-position:center;        
    }

    .home img{
        text-align: center;
    }

    .homeTitle{
        color:white;
    }

    .homeContent{
        color:white;
    }

    .btnHome{
        background-color: rgb(255, 47, 47);
        color: white;
    }


    .categoriaTitulo{
        color: rgb(255, 47, 47);
        overflow:hidden;
        word-wrap: break-word;
    }

    .categoriaContenido{
        color: white;
        overflow:hidden;
        word-wrap: break-word;
    }

  

    .categorias a{
        text-decoration:dotted;
    }

    .recentImg{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        margin: auto;
    }

    .recentImg img{
        display: flex;
        justify-content: center;
        align-items: center;
        width:230px;
        height:300px; 
    }
    
.Latest{
    background-color: white;
}

.latestCard{
    background-color: rgb(29, 29, 29)!important;
    overflow:hidden;
    word-wrap: break-word;
}

.latestCard h5{
    color: rgb(218, 23, 23)!important;
    overflow:hidden;
    word-wrap:break-word;
}

.latestCard span{
    color: rgb(255, 255, 255)!important;
}